# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# build artifacts
build
compile_commands.json
.cache
__pycache__

# run artifacts
ising_result.png
.benchmarks
